<%= render "shared/errors", obj: @book %>
<table class="book_show">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name, size: 20 %></td>
  </tr>
  <tr>
    <th><%= form.label :isbn %></th>
    <td><%= form.text_field :isbn, maxlength: 13, size: 20 %></td>
  </tr>
  <tr>    
    <th>Authors</th>
    <%= form.collection_check_boxes(:author_ids, Author.all, :id, :name) do |f| %>
	<td><%= f.label { f.check_box + f.text } %></td>
     <% end %>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= form.collection_select :publisher_id, Publisher.all, :id, :name, :include_blank => true %>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= form.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true %>
  </tr>
  <tr>
    <th><%= form.label :summary %></th>
    <td><%= form.text_area :summary %></td>
  </tr>
  <tr>
    <th><%= form.label :stock_num %></th>
    <td><%= form.text_field :stock_num %></td>
  </tr>
</table>