<%= render "shared/errors", obj: @book %>
<table class="book_form">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :isbn %></th>
    <td><%= form.text_field :isbn %></td>
  </tr>
  <tr>    
    <th>Authors</th>
    <%= form.collection_check_boxes(:author_ids, Author.all, :id, :name) do |b| %>
	<td class = "author_td"><%= b.label { b.check_box + b.text } %></td>
     <% end %>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= form.collection_select :publisher_id, Publisher.all, :id, :name %>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= form.collection_select :genre_id, Genre.all, :id, :name %>
  </tr>
  <tr>
    <th><%= form.label :summary %></th>
    <td><%= form.text_field :summary %></td>
  </tr>
  <tr>
    <th><%= form.label :stock_num %></th>
    <td><%= form.text_field :stock_num %></td>
  </tr>
</table>