<div class = "content" >
<h3><%= @book.name %></h3>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<table class="book_show">
  <tr>
    <th width="150">ISBN</th>
    <td><%= @book.isbn %></td>
  </tr>
  <tr>
    <th>著者</th>
    <td>
	<% @book.authors.each do |author| %> 
	  <%= author.name %></br>
	<% end %>
    </td>
  </tr>
  <tr>
    <th>出版社</th>
    <td><%= @book.publisher.name %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @book.genre.name %></td>
  </tr>
  <tr>
    <th>あらすじ</th>
    <td><%= @book.summary %></td>
  </tr>
</table>

<p class = "book_show">貸出数：<%= @rental_num %>｜予約数：<%= @reservation_num %>｜
  在庫数：<%= @zaiko %>｜所蔵数：<%= @book.stock_num %></p>

<%= link_to "検索結果一覧に戻る", search_admin_books_path, class: "a2"  %>
<%= link_to "編集", edit_admin_book_path, class: "a2" %>
  <%= link_to "削除", admin_book_path, method: :delete, data: { confirm: "本の取扱いをやめますか？"}, class: "a2" %>

<% if @zaiko > 0 %>
  <%= form_tag :admin_rentals, method: :post do %>
    <table>
    <tr>
      <th>会員ID<%= text_field_tag "member", params[:member] %></th>
         <%= hidden_field_tag "book", @book.id %>
      <th><%= button_tag "貸出申請代替をする", class: "submit_button2" %></th>
    </tr>
    </table>
  <% end %>
<% else %>
  <%= form_tag :admin_reservations, method: :post do %>
    <table>
    <tr>
      <th>会員ID<%= text_field_tag "member", params[:member] %>
         <%= hidden_field_tag "book", @book.id %>
      <th><%= button_tag "予約申請代替をする", class: "submit_button2" %></th>
    </tr>
    </table>
  <% end %>
<% end %>
</div>