<%= render "shared/errors", obj: @member %>
<table class="a">
  <tr>
    <th width="150">会員ID</th>
    <td><%= @member.user_id %></td>
  </tr>
  <tr>
    <th>本名</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @member.place %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.mail_address %></td>
  </tr>
</table>

