<table class="member_form">
  <tr>
    <th><%= form.label :user_id %></th>
    <td><%= form.text_field :user_id  %></td>
  </tr>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :place %></th>
    <td><%= form.text_field :place %></td>
  </tr>
  <tr>
    <th><%= form.label :tel %></th>
    <td><%= form.text_field :tel %></td>
  </tr>
  <tr>
    <th><%= form.label :mail_address %></th>
    <td><%= form.text_field :mail_address %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= form.check_box :is_admin, disabled: !current_member.is_admin? %>
    <%= form.label :is_admin, "管理者" %></td>
  </tr>
  <tr>
    <th><%= form.label :defpassword %></th>
    <td><%= form.password_field :defpassword %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
<% unless @member.new_record? %>
<p>パスワードを変更しないときは、パスワード入力欄を空にしてください。</p>
<% end %>

