<h2>会員一覧表示画面--MembersControllerのshow</h2>

<%= form_tag :search_admin_members, method: :get do %>
  <table>
  <tr>
    <th><%= text_field_tag "q", params[:q] %></th>
    <th><%= button_tag "検索", class: "submit_button2" %></th>
  </tr>
  </table>
<% end %>

<% if @members.present? %>
<table class="list">
  <tr>
    <td>ユーザID</td>
    <td>名前</td>
  </tr>
  <% @members.each do |member| %>
  <tr>
    <% if member == current_member %>
      <td><%= link_to member.id, account_path(id: current_member.id), class: "a2" %></td>
    <% else %>
      <td><%= link_to member.id, [:admin, member], class: "a2" %></td>
    <% end %>
    <td><%= member.name %></td>
  </tr>
  <% end %>
</table>
<% else %>
<p>会員情報がありません。</p>
<% end %>
<%= link_to "会員の新規登録", :new_admin_member, class: "a2" %>
