<div class = "content" >
<h3>貸出申請一覧</h3>

<%= form_tag :app_search_admin_rentals, method: :get do %>
  <table>
  <tr>
    <th><%= text_field_tag "q", params[:q] %></th>
    <th><%= button_tag "検索", class: "submit_button2" %></th>
  </tr>
  </table>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @rentals.present? %>
  <table class = "indextable">
    <tr>
      <th>貸出ID</th>
      <th>タイトル</th>
      <th>本ID</th>
      <th>在庫数</th>
      <th>会員ID</th>
      <th>配達</th>
      <th>編集</th>
    </tr>
    <% @rentals.each do |rental| %>
      <tr>
        <td>[ <%= rental.id %> ]</td>
        <td><%= link_to rental.book.name, admin_book_path(rental.book), class: "a3" %></td>
        <td><%= rental.book_id %></td>
        <td><%= defzaiko(rental.book) %></td>
        <td><%= rental.member_id %></td>
        <% if rental.is_delivered %>
          <td>済</td>
        <% else %>
          <td>未</td>
        <% end %>
        <td><%= link_to "実行", rental_do_admin_rental_path(rental.id), class: "a3" %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @rentals %>
<% else %>
  <p>貸出はありません</p>
<% end %>
</div>