<h3 id = "login">LOGIN FORM</h3>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :session do %>
<table id="login_form">
<tr>
  <td><%= text_field_tag "user_id", "", placeholder: "UserId", style: "width: 100px" %></td>
</tr>
<tr>
  <td><%= password_field_tag "password", "", placeholder: "PassWord", style: "width: 100px" %></td>
</tr>
<tr>
  <td colspan="2" style="text-align: center">
  <%= button_tag "LOGIN", class: "login_button" %></td>
</tr>
</table>
<% end %>
<br>
