<h2>サイドバー</h2>

<%= render "shared/login_form" unless current_member %>

<% if current_member %>
  <p class="member">
　　　　　<p><%= current_member.name + "さん" %></br></p>	
	<%= link_to "プロフィール", account_path(id: current_member.id) %></br>
	<%= link_to "貸出中一覧", member_rentals_path(member_id: current_member.id) %></br>
	<%= link_to "予約中一覧", member_reservations_path(member_id: current_member.id) %></br>
        <%= link_to "貸出履歴" %></br>
	<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </p>
<% else %>
	<%= link_to "新規登録", [:new, :member] %>	
<% end %>
