<div class = "content">
<h3>貸出履歴一覧</h3>

<% if @rentals.present? %>
  <% @rentals.each do |rental| %>
    <table>
    <tr>
      <th>貸出ID</th>
      <th>タイトル</th>
      <th>本ID</th>
      <th>在庫数</th>
      <th>配達</th>
      <th>返却日</th>
    </tr>
    <tr>
      <td><%= rental.id %></td>
      <td><%= link_to rental.book.name, book_path(rental.book), class: "a2"  %></td>
      <td><%= rental.book_id %></td>
      <td><%= defzaiko(rental.book) %></td>
      <% if rental.is_delivered %>
        <td>済</td>
      <% else %>
        <td>未</td>
      <% end %>
      <td><%= rental.return_date %></td>
    </tr>
    </table>
    <%= will_paginate @rentals %>
  <% end %>
<% else %>
  <p>貸出履歴はありません</p>
<% end %>
</div>