<h2>予約中一覧画面--ReservationsControllerのindex</h2>
<%= @member.name + "さんの予約一覧" %>
<% if @reservations.present? %>
  <% count = 0 %>
  <% @reservations.each do |rs| %>
  <% count = count + 1 %>
    <table>
    <tr>
      <th>No.</th>
      <th>タイトル</th>
      <th>本ID</th>
      <th>在庫数</th>
      <th>編集</th>
    </tr>
    <tr>
      <td><%= count %></td>
      <td><%= link_to rs.book.name, book_path(rs.book) %></td>
      <td><%= rs.book_id %></td>
      <td><%= @zaiko %></td>
      <td><%= link_to "とりけし" %></td>
    </tr>
    </table>
  <% end %>
<% else %>
  <p>予約はありません</p>
<% end %>