<div class = "content">
<h3>予約中一覧</h3>
<%= @member.name + "さんの予約一覧" %>
<% if @reservations.present? %>
  <% count = 0 %>
  <% @reservations.each do |rs| %>
  <% count = count + 1 %>
    <table>
    <tr>
      <th>No.</th>
      <th>タイトル</th>
      <th>本ID</th>
      <th>在庫数</th>
      <th>編集</th>
    </tr>
    <tr>
      <td><%= count %></td>
      <td><%= link_to rs.book.name, book_path(rs.book), class: "a2"  %></td>
      <td><%= rs.book_id %></td>
      <td><%= defzaiko(rs.book) %></td>
      <td><%= link_to "とりけし", member_reservation_path(current_member,rs), method: :delete,
	data: { confirm: "予約を取り消しても良いですか？"}, class: "a2"  %></td>
    </tr>
    </table>
  <% end %>
<% else %>
  <p>予約はありません</p>
<% end %>
<div class = "content">