<table class="a">
  <tr>
    <th><%= form.label :user_id %></th>
    <td><%= form.text_field :user_id, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :place %></th>
    <td><%= form.text_field :place %></td>
  </tr>
  <tr>
    <th><%= form.label :tel %></th>
    <td><%= form.text_field :tel %></td>
  </tr>
  <tr>
    <th><%= form.label :mail_address %></th>
    <td><%= form.text_field :mail_address %></td>
  </tr>
</table>

